# Сперва
# Запрещаем вообще все
*

# find . -type d | cut -c 3- | sed 's/^/!*/' | grep -v ".git"
# Затем
# Разрешаем мониторить эти папки
!*internal
!*internal/google
!*internal/gtts
!*internal/voice
!*internal/console
!*internal/logger
!*internal/basic
!*docker
!*cmd
!*cmd/speaker
!*cmd/gtts

# И в этих папках брать только эти форматы
!*.ini
!.golangci.yml
!.gitignore
!.gitattributes
!.gitmodules
!go.mod
!*.sh
!*.go
!*.gohtml
!*.html
!*.js
!*.css
!*.mod
!*.json
!*.conf
!*.toml
!*.vue
!*.js
!*.scss
!*.sql
!*.md
!*.pth
!*.so
!*.crx
!Dockerfile
!Makefile
!*.dockerfile
!*.yml
# Использутей для этих типв файлов git lfs
#!*.png

# Запрещаем конкретные файлы
go.sum

# Запретили все что в папке
configs/*
# Кроме этого
# Но хранить в гите картинки категорически нельзя,
# нужно использовать git lfs
# https://git-lfs.github.com/
!configs/*.example.toml

# Запрещаем папки
public
tmp

build
node_modules
storage
public
